@import url('https://fonts.googleapis.com/css2?family=Overpass:wght@400;700&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* Global CSS variables */
:root {
    /* Colors */
    --primary: hsl(25, 97%, 53%);
    --neutral-white: hsl(0, 0%, 100%);
    --light-grey: hsl(217, 12%, 63%);
    --medium-grey: hsl(216, 12%, 54%);
    --dark-blue: hsl(213, 19%, 18%);
    --very-dark-blue: hsl(216, 12%, 8%);

    /* Font weights */
    --fw-regular: 400;
    --fw-bold: 700;

    /* Transition effect and duration */
    --transition: all 200ms ease-in-out;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Overpass', sans-serif;
    color: white;
    font-size: 16px;
    line-height: 1.4;
}

.flex-column-centered {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container {
    background-color: var(--very-dark-blue);
    width: 100vw;
    height: 100vh;
}

.card {
    background: radial-gradient(450px 450px at top, var(--dark-blue), var(--very-dark-blue));
    display: flex;
    flex-direction: column;
    align-items: space-evenly;
    justify-content: space-evenly;
    width: 90%;
    max-width: 400px;
    height: auto;
    padding: 1.5rem 2.5rem;
    border-radius: 7%;
}

.card > * {
    margin: 0.5rem 0;
}

.rating-card-text > h1 {
    font-size: 1.5rem;
    margin: 1rem 0;
    font-weight: var(--fw-bold);
}

.rating-card-text > p {
    width: 100%;
    color: var(--light-grey);
    line-height: 1.6;
}

.star-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
    padding: 1rem;
    height: 2.25rem;
    width: 2.25rem;
    background-color: var(--dark-blue);
}

.star-icon img {
    width: 1rem;
}

.rb {
    display: flex;
    width: 100%;
    height: 5vh;
    justify-content: space-between;
    align-items: center;
    margin: 2rem 0;
}

.rb-tab {
    display: inline-block;
    background-color: var(--dark-blue);
    position: relative;
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 100%;
    cursor: pointer;
    transition: var(--transition);
}

.rb-tab-active {
    background-color: var(--medium-grey);
}

.rb-tab-active .rb-txt {
    color: var(--neutral-white);
}

.rb-tab:hover {
    background-color: var(--primary);
}

.rb-tab:hover .rb-txt {
    color: var(--neutral-white);
}

.rb-tab:active {
    background-color: var(--medium-grey);
}

.rb-tab:active .rb-txt {
    color: var(--neutral-white);
}

.rb-txt {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: var(--medium-grey)
}

.form-rating-section {
    display: flex;
    justify-self: center;
    align-items: center;
    background-color: var(--dark-blue);
    height: 2.5rem;
    margin: 1rem 0;
    width: 70%;
    border-radius: 15px;
}

p.form-rating-txt {
    color: var(--primary);
    font-size: 2vh;
    margin: 0 auto;
    width: auto;
}

#rating-card input[type="button"] {
    background-color: var(--primary);
    height: 3rem;
    border: none;
    border-radius: 20px;
    text-transform: uppercase;
    color: var(--neutral-white);
    letter-spacing: 3px;
    font-weight: var(--fw-bold);
    cursor: pointer;
}

#rating-card input[type="button"]:active {
    background-color: var(--neutral-white);
    color: var(--primary);
}

#form-response-card-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: space-evenly;
    text-align: center;
    height: 20%;
}

#form-response-card-content h1 {
    margin: 1rem 0;
    font-size: 1.75rem;
}

#form-response-card-content p {
    color: var(--light-grey);
    line-height: 1.6;
}

.hidden {
    display: none;
}

.attribution {
    color: var(--medium-grey);
    font-size: 0.75rem;
    margin: 1rem;
}

.attribution a {
    text-decoration: none;
    color: var(--light-grey);
}

.attribution a:visited {
    color: #00aafe
}

@media only screen and (min-width: 425px) {
    .rb-tab {
        width: 3rem;
        height: 3rem;
    }
}